<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>    
    <bindings>
      <wsHttpBinding>
        <binding name="TransactionalBind" transactionFlow="true"/>       
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="MaxSize"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="4194304"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ApplicationService/AppService.svc" 
                binding="wsHttpBinding" 
                bindingConfiguration="TransactionalBind"
                contract="Common.IAppService"/>
      <endpoint address="http://localhost/ApplicationService/ReadService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="MaxSize" 
                contract="Common.IReadService"/>
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>
